<div class="folder-name">
  <h1>Shared</h1>
</div>

<% @links.each do |link| %>
<div class="shared-link-container">
  <div class="img-holder">
    <img src="<%= link[0].image %>">
  </div>

  <div class="folder-link">
    <div class="sender-info">
      <img src="<%= link[2] %>">
    <h4>
        <%= link[1] %>
        <br />
        <%= link[0].created_at.strftime("%A, %b %d %Y") %>
        <br />
        <%= link[0].created_at.strftime("%l:%M%P") %>
      </h4>
    </div>

    <div class="link-trash">
      <%= link_to shared_links_path(id: link[5]), method: :delete do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>

    <h3>
      <a href="<%= link[0].url %>" class="title">
        <%= link[0].title %>
      </a>
    </h3>

    <a href="<%= link[0].url %>">
      <%= link[0].url %>
    </a>

  </div>
  <br />
</div>
<% end %>