<div class="folder-name">
  <h1>Shared</h1>
</div>

<% @links.each do |link| %>
<div class="shared-link-container">
  <div class="sender-info">
    <img src="<%= link[2] %>">
    <h4>
      <%= link[1] %>
      <br />
      <i class="fa fa-calendar"></i> <%= link[0].created_at.strftime("%A, %b %d") %>
      <br>
      <i class="fa fa-clock-o"></i> <%= link[0].created_at.strftime("%l:%M%P") %>
    </h4>
  </div>
  <div class="sender-message">
    <div class="sender-message-container">
      "<%= link[0].message %>"
    </div>
  </div>

  <div class="folder-link">
    <div class="img-holder">
      <img src="<%= link[0].image %>">
    </div>

    <!-- <div class="link-trash">
      <%#= link_to shared_links_path('<%= link[5] %>'), method: :delete do %>
        <i class="fa fa-trash"></i>
      <%# end %>
    </div> -->
    <div class="text-holder">
      <h3>
        <a href="<%= link[0].url %>" class="title">
          <%= link[0].title %>
        </a>
      </h3>

      <a href="<%= link[0].url %>">
        <%= link[0].url %>
      </a>
    </div>

  </div>
  <br />
</div>
<% end %>