<div class="folder-name">
  <h1>Shared</h1>
</div>

<% @links.each do |link| %>
<div class="shared-link-container">
  <div class="folder-link">
    <div class="sender-info">
      <img src="<%= link[1] %>">
    <h4>
        <%= link[0] %>
        <br />
        <%= link[3] %>
        <br />
        <%= link[4] %>
      </h4>
    </div>
    <div class="trash">
      <i class="fa fa-trash"></i>
    </div>
    <h3>
      <a href="<%= link[2] %>" class="title">
        This is a test title that will be filled in later
      </a>
    </h3>
    <a href="<%= link[2] %>">
      <%= link[2] %>
    </a>
  </div>
  <br />
</div>
<% end %>