<%= form_for @new_folder, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "New Basket Name" %>

  <%= f.submit "Create Basket", class: "create_button" %>
  <%= f.submit "Cancel", class: "hide_button" %>
<% end %>

<!--   <form name="new_folder" id="new_basket_form" action="/folders" method="post">
    <input type='text' name="name" placeholder="New Basket Name" id="folder_name" required> 
    <input type="submit" id="signup_button" value="Create Basket">
    <input type="button" id="hide_button"
    value="Cancel">
  </form> -->