<div class="folder-name">
  <h1><%= @folder.name %></h1>
</div>

<% @links.each do |link| %>
  <div class="folder-container">
    <div class="img-holder">
      <img src="<%= link.image %>">
    </div>
    <div class="folder-link">
      <h3 class="header-link-title">
        <a href="<%= link.url %>" class="title">  
          <%= link.title %>
        </a>
      </h3>

      <div class="link-trash" data="<%= link.id %>">
        <%= link_to link_path(link, folder_id: @folder.id), class: 'link-delete', method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>


      </div>
      <a href="<%= link.url %>">
        <%= truncate(link.url, length: 80) %>
      </a>
      <div class="date">
        <%= link.created_at.strftime("%A, %b %d") %> at
        <%= link.created_at.strftime("%l:%M%P") %>
      </div>
    </div>
    <br />
  </div>
<% end %>
