<div class="folder-name">
  <h1><%= @folder.name %></h1>
</div>

<div class="folder-links-wrapper">
<% @links.each do |link| %>
  <div class="folder-container <%= link.id %>">
    <div class="img-holder">
      <img src="<%= link.image %>">
    </div>
    <div class="folder-link">
      <h3 class="header-link-title">
        <a href="<%= link.url %>" class="title">  
          <%= truncate(link.title, length: 60) %>
        </a>
      </h3>

      <div class="link-share" data="<%= link.id %>">
        <i class="fa fa-share"></i>
    </div>

      <div class="link-trash" data="<%= link.id %>">
        <%= link_to folder_link_path(link, folder_id: @folder.id), class: 'link-delete', method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>

      <div class="message">
        <i class="fa fa-pencil-square-o"></i><%= link.message %>
      </div>

      <div class="date">
        <div class="date-calendar">
          <i class="fa fa-calendar"></i> <%= link.created_at.strftime("%A, %b %d") %>
        </div>
        <div class="date-clock">
          <i class="fa fa-clock-o"></i><%= link.created_at.strftime("%l:%M%P") %>
        </div>
      </div>

      <a href="<%= link.url %>">
        <i class="fa fa-external-link"></i> <%= truncate(link.url, length: 60) %>
      </a>
    </div>
    <br />
  </div>


  <!--Share section-->
  <div class="save-share-div">
    <div class="save-share-div-container">
      <div class="users-baskets">
        <div class="basket-list">
        </div>
      </div>
      <div class="users-friends">
        <div class="friend-list-wrapper">
        </div>
      </div>
    </div>
  </div>

  <script>

  </script>

<% end %>
</div>
