<div class="folder-name">
  <h1><%= @folder.name %></h1>
  <div class="basket-trash" data="<%= @folder.id %>">
    <i class="fa fa-trash"></i>
  </div>
</div>

<% @links.each do |link| %>
  <div class="folder-container">
    <div class="folder-link">
      <h3>
        <a href="<%= link.url %>" class="title">  
          This is a test title that will be filled in later
        </a>
      </h3>
      <div class="link-trash" data="<%= link.id %>">
        <i class="fa fa-trash"></i>
      </div>
      <a href="<%= link.url %>">
        <%= link.url %>
      </a>
      <div class="date">
        <%= link.created_at.strftime("%A, %b %d") %> at
        <%= link.created_at.strftime("%l:%M%P") %>
      </div>
    </div>
    <br />
  </div>
<% end %>