<% @return_links.each do |link| %>
    <a href="<%= link['url'] %>" target="_newtab" class="shared-link-wrapper">
      <!-- <div class="shared-link-wrapper"> -->
        <div class="shared-link-wrapper-container">
          <p class="shared-link-date">
            <%= link["date"] %>
          </p>
          <p class="shared-link-time">
            <%= link["time"] %>
          </p>
          <p class="sender-name">
            <%= link["sender"] %>
          </p>
          <p class="shared-link-title-url">
            <%= link["title"] %>
          </p>
          <div class="shared-link-message-wrapper">
            <p class="shared-link-message">
              <%= truncate(link["message"], length: 33) %>
            </p>
          </div>
        </div>
      <!-- </div> -->
    </a>
<% end %>