<div class="welcome">
    <%#= image_tag 'tutorial.gif' %>
  <div class="basket-icon">
    <%= image_tag 'basketblack128.png' %>
  </div>
  <div class="basket-slogan">
    <h2>"The simplest way to save and share links!"</h2>
  </div>
  <div class="welcome-message">
    Welcome to the beta version of B@sket,<br> a site that will allow you to easily save and share your favorite links without ever having to leave the page you're visiting.<br><br> Scroll down to learn how to use this site.
  </div>
</div>

<div class='getting-set-up'>
  <h2>Getting Set Up</h2>
  <div class='facebook-login'>
    <i class='fa fa-facebook-square'></i><br />
    <h4>Login with Facebook</h4>
    <h6>(This is so basket can see your friends<br> and let you send them links)</h6>
  </div>
  <div class='chrome-extension'>
    <%= image_tag 'chrome2.png' %>
    <h4>Download the chrome extension*</h4>
    <h6>Click the link in the nav bar or right here<br />
    <a href="https://chrome.google.com/webstore/detail/basket/jcglidocjalkkefbmnobddombekpancl?hl=en&gl=US">Download Chrome Extension Here</a></h6>
  </div>
  <div class='extension-explanation'>
    *Not sure what a chrome extension is, or how it works? No worries, <a href="/extension">click here</a> to find out more!
  </div>
</div>

<div class='how-to-use'>
  <h2>Using B@sket</h2>
  <div class='basket-description'>
    <i class='fa fa-hand-o-left'></i><br />
    <h4>Your B@skets</h4>
    <h6>Used to save all your favorite links.</h6>
    <h6>The Shared Basket is where<br /> links sent from your friends will go</h6>
  </div>
  <div class='friend-description'>
    <i class='fa fa-hand-o-right'></i><br />
    <h4>Your Friends</h4>
    <h6>Facebook friends who are also using basket.</h6>
    <h6>You can send them links<br />from the extension</h6>
  </div>
  <div class='first-basket'>
    <h4>The very first time you login you will have a "Save For Later" b@sket created for you. This is just to get you started. Feel free to delete this, or play around with saving links from the chrome extension.</h4>
  </div>
</div>

<div class='extension'>
  <h2>Using the Chrome Extension</h2>
  <div class="extension-details">
    <div class='basket-share'>
      <i class='fa fa-hand-o-right'></i><br />
      <h4>Your B@skets</h4>
    </div>
    <div class='extension-img'>
      <%= image_tag 'extension.png' %>
    </div>
    <div class='friend-share'>
      <i class='fa fa-hand-o-left'></i><br />
      <h4>Your Friends</h4>
    </div>
  </div>

  <div class="using-extension">
    <div class="text">
      When visiting a site, simply click the extension to bring up your <strong>b@skets and friends</strong>&hellip;
    <div>
    <div class="save-website-example">
      <%= image_tag 'extension_use1.png' %>
    </div>
    <div class="text">
      ...to save it to that basket or send it to that friend.
    </div>
    <div class="basket-saved-example">
      <%= image_tag 'extension_use2.png' %>
    </div>
  </div>
</div>
