The new about page!
<div class='share-with-friends-wrapper'>
  <div class='image-wrapper'>
    <%= image_tag 'share_friend.gif' %>
  </div>
  <div class='description-wrapper'>
    <p>Share links with friends easier than ever</p>
  </div>
</div>

<div class='save-to-basket-wrapper'>
  <div class='image-wrapper'>
    <%= image_tag 'share_friend.gif' %>
  </div>
  <div class='description-wrapper'>
    <p>Save links to your Baskets for later</p>
  </div>
</div>

<div class='inbox-links-wrapper'>
  <div class='image-wrapper'>
    <%= image_tag 'share_friend.gif' %>
  </div>
  <div class='description-wrapper'>
    <p>See links your friends sent from anywhere</p>
  </div>
</div>

<div class='get-started-wrapper'>
  <h4>Get Started</h4>
  <div class="get-started-btn-wrapper">
    <a href="https://chrome.google.com/webstore/detail/basket/jcglidocjalkkefbmnobddombekpancl?hl=en&gl=US" target="_newtab">
      <div class='download-the-extension'>
        <%= image_tag 'chrome2.png', class: "chrome-img" %>
        Download the Extension
      </div>
    </a>
  </div>
  <div class="get-started-btn-wrapper">
    <%= link_to "/auth/facebook", id: "sign_in" do %>
      <div class='sign-into-facebook'>
        <i class = "fa fa-facebook-square icon facebook"></i> 
        <p>Login with Facebook</p>
      </div>
    <% end %>
  </div>
</div>