<!DOCTYPE html>
<html>
<head>
  <title>Basket</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

  <!-- <link rel="stylesheet" href="/../assets/font-awesome-4.0.3/css/font-awesome.min.css"> -->

</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <h1>basket</h1>
        <% if current_user %>
          <%= render "users/usernav" %>
        <% else %>
          <%= render "users/guestnav" %>
        <% end %>
    </div>
  </div>

  <section id="baskets">
    <div class="baskets-wrapper">
      <br>
        <div class="new-basket-btn">
          <%= image_tag '/images/icon.png' %>
          <%= link_to "+ New Basket", new_folder_path, id: "new_folder", remote: true %>
        </div>
        <br>

        <% if current_user %>
          <div id="new-basket-form-container">
            <%= render "folders/form" %>
          </div>


          <ul class="baskets">
            <div id="shared_basket">
                <li><%= link_to "Shared", shared_basket_path(current_user.shared_basket) %></li>
            </div>


            <div id="user_folders">
                <%= render "folders/userfolders" %>
            </div>
          </ul>
        <% end %>
    </div>
  </section>

  <section id="links">
    <div class="links-wrapper">
      <%= yield %>
    </div>
  </section>

  <section id="friends">
    <div class="friends-wrapper">
        <div class="friends-header">
          <h5>Friends using basket</h5>
        </div>

        <ul id="friends-list">
          <% if current_user %>
            <%= render "users/friends" %>
          <% end %>
        </ul>

    </div>
  </section>
</body>
</html>
