<!DOCTYPE html>
<html>
<head>
  <title>Basket</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">

</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">basket</a>

    <ul class="nav">

      <% if current_user %>

        <li class="span1 offset8"><img alt="FB_Pic" src=<%= current_user.image %>></li>
        <li><%= current_user.name %></li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        
      <% else %>

        <li class="span 1 offset9"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        </li>

      <% end %>

    </ul>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span2">
      <h1>Baskets</h1>
      <br>
        
        <%= link_to "+ New Basket", new_folder_path, id: "new_folder", remote: true %>
        <br><br>

        <div class="hidden" id="new_basket_form">
          <%= render "form" %>
        </div>

        
        <% if current_user %>
          <%= render "userfolders" %>
        <% end %>
    </div>

    <div class="span8">
      <%= yield %>
    </div>

    <div class="span2">
      <h1>Friends</h1>

      <%# if current_user %>
          <%# @graph = Koala::Facebook::API.new(current_user.oauth_token) %>
          <%# friends = @graph.get_connections("me", "friends") %>
      <%# end %>

    </div>
  </div>
</div>  

</body>
</html>
